*{
  margin:10;
  padding:10;
}
*[href]:hover {
  color: Green;
}
img[href]:hover{
  color: initial;
}
.header{
  text-align:center;

}
#Source{
  text-align:center;
  margin-top: 20px ;
}
ol > li {
text-align:center;
}
.footers {
    position:sticky;
    text-align:center;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: solid black;
    background-color: rgb(221,211, 211);
}
